
	<div class="col-xs-12 col-sm-4">
		<br />
		<br />
	<%= image_tag 'tigger-firehose-01.gif', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-left"></h2>
		
		<ul>
			<h3>Why Choose Firehose?</h3>
			<li>Easy access to Ken and Marco</li>
			<li>One on one mentorships</li>
			<li>Job/career assistance</li>
			<li>Tech interview tips/tricks</li>
		</ul>

	</div>
